body{
    background-color: #dad3db;
}


.main{
    font-weight: bold;
    font-size: 40px;
    font-family: monospace;
    position: relative;
    left: 300px;
}

.sub-main{
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
    position: relative;
    left: 300px;
}

p{
    margin-top: 100vh;
    margin: 0%;
    padding: 0%;
}